.main{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.nav{
  background-color: blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  padding: 5px;

}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42%;
}

.right div{
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.right div:hover{
  background-color: #050651;
}

.search input{
  width: 30rem;
  height: 26px;
  border-radius: 5%;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  margin-left: 3rem;
  perspective: 800px;
  
}

.slider img{
  border-radius: 5%;
  border: 2px solid rgb(14, 14, 142);
  transition: transform 0.03s ease;

}

.slider img:hover{
  transform: translateZ(100px);
  border: 2px solid yellow;
  
}

slider2{
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  width: 98%;
  margin: 1rem;
}

.slider2 img{
  border-radius: 5%;
  border: 2px solid rgb(14, 14, 142);
  transition: transform 0.03s ease;

}

.slider2 img:hover{
  transform: translateZ(150%);
  border: 2px solid yellow;
}